<%= form_for(@chrtrule) do |f| %>
  <% if @chrtrule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chrtrule.errors.count, "error") %> prohibited this chrtrule from being saved:</h2>

      <ul>
      <% @chrtrule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :rulecomment %><br>
    <%= f.text_area :rulecomment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
