<h1>Listing diabetes_patients</h1>

<table>
  <thead>
    <tr>
      <th>Oracle</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @diabetes_patients.each do |diabetes_patient| %>
      <tr>
        <td><%= diabetes_patient.oracle_id %></td>
        <td><%= link_to 'Show', diabetes_patient %></td>
        <td><%= link_to 'Edit', edit_diabetes_patient_path(diabetes_patient) %></td>
        <td><%= link_to 'Destroy', diabetes_patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diabetes patient', new_diabetes_patient_path %>
