<p id="notice"><%= notice %></p>

<p>
  <strong>Pid:</strong>
  <%= @rptob.pid %>
</p>

<p>
  <strong>Hdid:</strong>
  <%= @rptob.hdid %>
</p>

<p>
  <strong>Obsdate:</strong>
  <%= @rptob.obsdate %>
</p>

<p>
  <strong>Obsvalue:</strong>
  <%= @rptob.obsvalue %>
</p>

<p>
  <strong>Change:</strong>
  <%= @rptob.change %>
</p>

<%#= link_to 'Edit', edit_rptob_path(@rptob) %> |
<%= link_to 'Back', rptobs_path %>
