<%= form_for(@most_recent_observation) do |f| %>
  <% if @most_recent_observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@most_recent_observation.errors.count, "error") %> prohibited this most_recent_observation from being saved:</h2>

      <ul>
      <% @most_recent_observation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pid %><br>
    <%= f.number_field :pid %>
  </div>
  <div class="field">
    <%= f.label :hdid %><br>
    <%= f.number_field :hdid %>
  </div>
  <div class="field">
    <%= f.label :obsdate %><br>
    <%= f.date_select :obsdate %>
  </div>
  <div class="field">
    <%= f.label :obsvalue %><br>
    <%= f.text_area :obsvalue %>
  </div>
  <div class="actions">
    <%#= f.submit %>
  </div>
<% end %>
