<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @prblook.description %>
</p>

<p>
  <strong>Longdescr:</strong>
  <%= @prblook.longdescr %>
</p>

<p>
  <strong>Mlcode:</strong>
  <%= @prblook.mlcode %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @prblook.keyword %>
</p>

<p>
  <strong>Codetype:</strong>
  <%= @prblook.codetype %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @prblook.standard %>
</p>

<%#= link_to 'Edit', edit_prblook_path(@prblook) %> |
<%= link_to 'Back', prblooks_path %>
